    <nav role="navigation">
        <ul>
            <li{% if page.active == "aktualnosci" %} class="current"{% endif %}><a href="{{ site.baseurl }}/aktualnosci/">Aktualności</a></li>
            <li{% if page.active == "wydarzenia" %} class="current"{% endif %}><a href="">Wydarzenia</a></li>
            <li{% if page.active == "o-nas" %} class="current"{% endif %}><a href="">O nas</a></li>
            <li{% if page.active == "zespol" %} class="current"{% endif %}><a href="">Zespół</a></li>
            <li{% if page.active == "dokumenty" %} class="current"{% endif %}><a href="">Dokumenty</a></li>
            <li{% if page.active == "kontakt" %} class="current"{% endif %}><a href="">Kontakt</a></li>
        </ul>
    </nav>
