    <nav role="navigation">
        <ul>
            <li{% if page.active == "aktualnosci" %} class="current"{% endif %}><a href="{{ site.baseurl }}/aktualnosci/">Aktualności</a></li>
            <li{% if page.active == "wydarzenia" %} class="current"{% endif %}><a href="{{ site.baseurl }}/wydarzenia/">Wydarzenia</a></li>
            <li{% if page.active == "o-nas" %} class="current"{% endif %}><a href="{{ site.baseurl }}/o-nas/">O nas</a></li>
            <li{% if page.active == "zespol" %} class="current"{% endif %}><a href="{{ site.baseurl }}/zespol/">Zespół</a></li>
            <li{% if page.active == "dokumenty" %} class="current"{% endif %}><a href="{{ site.baseurl }}/dokumenty/">Dokumenty</a></li>
            <li{% if page.active == "kontakt" %} class="current"{% endif %}><a href="{{ site.baseurl }}/kontakt/">Kontakt</a></li>
        </ul>
    </nav>
