$color-primary: #09f;

$color-background: #fff;
$color-background-invert: #0e092f;

$color-text: #243236;

$color-text-invert: #f0f7fa;

$color-text-selection: #fff;
$color-text-selection-background: #7bedeb;

$color-link: #d61c59;

$color-text-heading: #f8bc1c;